In [1]:
# imports
import pandas as pd
import pathlib

# set base path
base_path = pathlib.Path('E:/Final Projects Github/Second Hand VS First Hand Cars')

In [2]:
file_path = base_path / 'used_cars.csv'
used_cars_df = pd.read_csv(file_path)
used_cars_df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [3]:
# check nulls
# Check for null values in each column
null_counts = used_cars_df.isnull().sum()
print("Null values in each column:\n", null_counts)

# Check for any null values in the DataFrame
any_nulls = used_cars_df.isnull().values.any()
print("\nAre there any null values in the DataFrame?", any_nulls)

# Display rows with null values
rows_with_nulls = used_cars_df[used_cars_df.isnull().any(axis=1)]
print("\nRows with null values:\n", rows_with_nulls.head())

Null values in each column:
 brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident        113
clean_title     596
price             0
dtype: int64

Are there any null values in the DataFrame? True

Rows with null values:
     brand                                         model  model_year  \
2   Lexus                                 RX 350 RX 350        2022
4    Audi                     Q3 45 S line Premium Plus        2021
5   Acura                                      ILX 2.4L        2016
9   Tesla                       Model X Long Range Plus        2020
10   Land  Rover Range Rover Sport 3.0 Supercharged HST        2021

         milage fuel_type                                       engine  \
2    22,372 mi.  Gasoline                               3.5 Liter DOHC
4     9,835 mi.  Gasoline                   2.0L I4 16V GDI DOHC Turbo
5   136,397 mi.  Gasoline                                    2.4 Liter
9    34,000 mi.       NaN  534.0HP Electric Motor Electric Fuel System
10   27,608 mi.  Gasoline                                           V6

         transmission                 ext_col          int_col       accident  \
2           Automatic                    Blue            Black  None reported
4   8-Speed Automatic  Glacier White Metallic            Black  None reported
5                   F                  Silver           Ebony.  None reported
9                 A/T                   Black            Black  None reported
10          Automatic              Fuji White  Pimento / Ebony  None reported

   clean_title    price
2          NaN  $54,598
4          NaN  $34,999
5          NaN  $14,798
9          Yes  $69,950
10         NaN  $73,897

In [4]:
# replace null values for columns accident (assumption: if the value is null, no accident occured)
used_cars_df['accident'].fillna('None reported',inplace=True)

In [5]:
# replace null values for columns clean_title (assumption: if the value is null, the title is clean)
used_cars_df['clean_title'].fillna('Yes',inplace=True)

In [6]:
# let's see if we can do anything about the missing values in the fuel type column
used_cars_df['fuel_type'].value_counts()

Gasoline          3309
Hybrid             194
E85 Flex Fuel      139
Diesel             116
–                   45
Plug-In Hybrid      34
not supported        2
Name: fuel_type, dtype: int64

In [7]:
# There is no specific value which can be used to replace the NaN values in fuel type column. We'll consider the missing values in the data analysis.
# null values after pre processing
null_counts = used_cars_df.isnull().sum()
print("Null values in each column:\n", null_counts)

Null values in each column:
 brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident          0
clean_title       0
price             0
dtype: int64

In [8]:
# check data type of all the columns
used_cars_df.dtypes

brand           object
model           object
model_year       int64
milage          object
fuel_type       object
engine          object
transmission    object
ext_col         object
int_col         object
accident        object
clean_title     object
price           object
dtype: object

In [9]:
used_cars_df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,Yes,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,Yes,"$34,999"

In [10]:
# remove unnecessary characters and convert data type
used_cars_df['milage'] = used_cars_df['milage'].apply(lambda mil : mil.strip(' mi.').replace(',','')).astype(float)
used_cars_df['price'] = used_cars_df['price'].apply(lambda mil : mil.strip('$ ').replace(',','')).astype(float)

In [11]:
# check data type of all the columns after preprocessing
used_cars_df.dtypes

brand            object
model            object
model_year        int64
milage          float64
fuel_type        object
engine           object
transmission     object
ext_col          object
int_col          object
accident         object
clean_title      object
price           float64
dtype: object

In [12]:
used_cars_df.to_csv(base_path / 'used_cars_cleaned.csv')